//Colors
$whiteMain: white;
$pinkSecond: rgb(255, 71, 164);
$navbarIconsPrimary: rgb(126, 126, 126);
$tikTokIcon: #2eb9c3;
$mapIcon: rgb(255, 119, 0);
$instagramIcon: rgb(255, 0, 204);
$facebookIcon: rgb(69, 116, 219);
$specialFont: "Allura", Sans-serif;

$px1d5: 1.5px;
$px34: 34px;

.fancy-text {
    font-family: $specialFont;
    color: $pinkSecond;
}

.color-pink {
    color: $pinkSecond;
}

.special-font {
    font-family: $specialFont;
}

.bg-pink {
    background-color: $pinkSecond;
}

//mixins
@mixin navbar-menu-holder-close-open {
    width: 100%;
    z-index: -10;
    left: 0;
    position: fixed;
    background-color: $whiteMain;

}

@mixin sliderArrow {
    fill: rgb(142, 142, 142);
    transition: all .3s ease-in-out;
    z-index: 999;

    &:hover {
        fill: rgb(255, 255, 255);
    }
}

@mixin max-min-900 {
    max-height: 900px;
    min-height: 200px;
}

@mixin fullScreenSliderIcons {
    transition: fill .3s ease-in-out;
    cursor: pointer;
    z-index: 999;

    &:hover {
        fill: white;
    }
}


@mixin galleryStyle {
    .gallery {
        cursor: pointer;
        box-shadow: .5px .5px 3px .5px rgb(147, 147, 147);

        .gallery-img {
            height: 100%;
            max-height: 400px;
            min-height: 400px;
    
            object-fit: fill;
            //object-fit: cover;

            @media (min-width: 1536px) {
                height: 400px;
            }

            &:focus,
            &:hover {
                animation: zoomPhotoAnimation 1s forwards;

            }

            &:not(:hover) {
                animation: reverseZoomAnimation 1s forwards;
            }
        }
    }
}

//animates

@mixin HoverAnimate {
    opacity: 85%;
    animation: iconHoverAnimate 1s infinite ease-in-out;

    @keyframes iconHoverAnimate {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.9);
        }

        100% {
            transform: scale(1);
        }
    }
}

.fs-28 {
    font-size: 20px;

    @media (max-width: 576px) {
        font-size: 16px;
    }
}

.fs-40 {
    font-size: 35px;
}