.contact-img {
    height: 300px;
}

.contact-info-text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.map-container {
    height: 500px !important;
    padding-left: 1rem;
    padding-right: 1rem;
}

.info-data-container-elm:hover {

    .contact-icon {
        transition: all .2s ease-in-out;
        fill: rgb(135, 135, 135);
    }
}

.contact-social {
    background-color: rgb(0, 0, 0);
    padding: .5rem;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: rgba(58, 58, 58, 0.898);
    }
}