footer {
    background-color: rgb(25, 25, 25);

    .creator-footer {
        color: rgb(255, 132, 0);

        &:hover {
            border-bottom: 1px solid rgb(255, 132, 0);
        }
    }
}

.footer-item {
    color: rgb(93, 105, 104);
    font-size: 18px;
    transition: all .3s ease-in-out;
    margin-bottom: 4px;

    &:hover {
        color: white;
    }
}

.border-top-white {
    border-top: 1px solid rgb(157, 157, 157);
    color: rgb(93, 105, 104);
}

.footer-icon {
    fill: rgb(255, 102, 0);
}

.items-center-1345w {
    @media (max-width: 1345px) {
        align-items: center;

    }
}

@media (max-width: 1345px) {
    .foot-holder {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .footer-menu-holder {
            align-items: center;
            margin-top: 1.5rem;
            width: 100%;

            .menu {
                align-items: center;
            }
        }

        .footer-company-info-holder {
            width: 100%;
            align-items: center;
        }

        .footer-contact-info-holder {
            width: 100%;
            margin-top: 1.5rem;
        }

        .footer-social-holder {
            width: 100%;
            margin-top: 1.5rem;
        }
    }

}