@import "./\ variables";

.gallery-holder {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    grid-template-rows: 50%;

    .gallery {
        cursor: pointer;

        .gallery-img {
            &:hover {
                animation: zoomPhotoAnimation 1s forwards;
            }

            &:not(:hover) {
                animation: reverseZoomAnimation 1s forwards;
            }
        }
    }
}

.gallery-header {
    margin-top: 10rem;
    margin-bottom: 2rem;

    .fancy-header {
        font-family: $specialFont;
        color: $pinkSecond;
    }
}

.full-screen-IMG-holder {
    width: 100vw;
    background-color: rgb(22, 22, 22);
    z-index: 9999;

    .progress-bar {
        height: 10px;
        animation: slider 4.9s ease-in-out infinite;
        z-index: 9999;

    }

    .icons-holder {

        .close-icon {
            right: 2%;
            top: 45%;
            @include fullScreenSliderIcons;
        }

        .play-icon {
            top: 50%;
            right: 4.5%;
            @include fullScreenSliderIcons;
        }

        .autoplay-active {
            fill: orange;
        }
    }
}

.div-slider {
    div {
        display: flex;
        justify-content: center;
    }
}

#slider-arrow-right {
    margin-right: 5rem;
    @include sliderArrow;
}

#slider-arrow-left {
    @include sliderArrow;
    margin-left: 4rem;
}

@media (max-width: 1024px) {
    .gallery-holder {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .gallery-holder {
        transition: all .2s ease-in-out;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}


@keyframes zoomPhotoAnimation {
    from {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}

@keyframes reverseZoomAnimation {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

@keyframes slider {
    0% {
        width: 0;
        background-color: red;
    }

    100% {
        width: 100%;
        background-color: red;
    }
}