@import "./\ variables";

.gallery-holder {
    grid-template-columns: repeat(3, 1fr);
    row-gap: .5rem;
    column-gap: .5rem;
    @include galleryStyle;
}

.full-screen-IMG-holder {
    width: 100%;
    background-color: rgb(0, 0, 0);

    .progress-bar {
        height: 10px;
        position: absolute;
        z-index: 999;
        background-color: red;
        border-radius: 30px;

    }

    .icons-holder {
        margin-top: .4rem;

        .FullScreenMenuIcon {
            @include fullScreenSliderIcons;

        }

        .autoplay-active {
            fill: orange;
        }
    }
}

.div-slider {
    width: 100%;
    height: 100%;
    color: white;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .slick-active,
    .slick-slide {
        display: flex !important;
        justify-content: center;

        div {
            height: 800px !important;
            width: 800px !important;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width:578px) {
                margin-right: 1rem !important;
                margin-left: 1rem !important;
            }

            img {
                width: 100%;
                height: 100%;
                position: inherit;


                @media (max-width:768px) {
                    width: 100%;
                    height: 75% !important;
                }

                @media (max-width:578px) {
                    width: 100%;
                    height: 65% !important;
                }

            }

        }
    }

}

.img-slider-viewer {
    height: 100vh;
}

.slick-track {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;


}

.img-on-full-screen {
    height: 100% !important;
}

.img-viewer {
    height: 90% !important;

    @media (min-width: 1900px) {
        height: 100% !important;
    }
}

#slider-arrow-right {
    margin-right: 5rem;
    @include sliderArrow;
}

#slider-arrow-left {
    @include sliderArrow;
    margin-left: 4rem;
}

@media (max-width: 1024px) {
    .gallery-holder {
        transition: all .2s ease-in-out;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .gallery-holder {
        transition: all .2s ease-in-out;
        grid-template-columns: repeat(1, 1fr);
        padding-left: .5rem;
        padding-right: .5rem;
    }
}



@keyframes zoomPhotoAnimation {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes reverseZoomAnimation {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes slider {
    0% {
        width: 0;
        background-color: red;
    }

    100% {
        width: 100%;
        background-color: red;
    }
}