.loyalty-program-benefits {}

.layality-program-img-holder {
    height: 300px;

}

.testtt {
    transform: rotate(-10deg);

    @media (max-width: 1024px) {
        transform: rotate(0deg);
    }
}

.z {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}