.navbar {
    background-color: white;
    position: relative;

    .navbar-holder {
        margin-top: 1.8rem;
        margin-bottom: 1rem;
        max-width: 1540px;
        flex-wrap: wrap;

        .logo-holder {
            order: 2;

            @media (max-width: 1450px) {
                width: 66.666666667%;
            }

            .navbar-logo {
                margin-left: 1rem;
                height: 50px;
                width: 260px;
            }
        }

        .navbar-menu-holder {
            order: 3;
            display: block;

            &.open {
                display: block !important;
                background-color: rgb(255, 255, 255);
                position: fixed;
                top: 100%;
                left: 0;
                width: 100%;
                animation: dropdownAnimation .5s forwards ease-out;
                z-index: -10;

                @keyframes dropdownAnimation {
                    0% {
                        top: -100%;
                    }

                    100% {
                        top: 10%;
                    }
                }
            }

            @media (max-width: 1450px) {
                display: none;
                

            }


            .main-menu {

                .menu-navbar-item {
                    font-size: 20px;
                    cursor: pointer;
                    color: rgb(34, 34, 34);
                    font-family: -apple-system,
                        BlinkMacSystemFont,
                        'Segoe UI',
                        Roboto,
                        Helvetica,
                        Arial,
                        sans-serif,
                        sans-serif;
                    margin-right: 20px;
                    transition: color .25s ease-in-out;

                    &.open {
                        animation: fadeIn 1.8s forwards;
                        opacity: 0;
                    }

                    @keyframes fadeIn {
                        from {
                            opacity: 0;
                            transform: translateY(-40px);
                            color: transparent;
                            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                        }

                        to {
                            color: black;
                            text-shadow: none;
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }

                    .item-context {
                        position: relative;

                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 0;
                            height: 2px;
                            background-color: rgb(255, 71, 164);
                            transition: width .25s ease-in-out;
                        }

                        &:hover::after {
                            width: 100%;
                        }

                        &:hover {
                            color: rgb(255, 71, 164);
                        }
                    }
                }
            }
        }

        .hamburger {
            order: 1;
            display: none;
            cursor: pointer;

            @media (max-width: 1450px) {
                display: block;
            }

            &.open {
                .bar {
                    &:first-child {
                        transform: translateY(8px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:last-child {
                        transform: translateY(-8px) rotate(-45deg);
                    }
                }
            }

            .bar {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                background-color: rgb(0, 0, 0);
                transition: all 0.3s ease-in-out;
            }
        }

        .navbar-icons-holder {
            order: 3;
            border-left: 1px solid rgb(126, 126, 126);
            padding-left: 1.6rem;

            @media (max-width: 1450px) {
                border-left: none;
                justify-content: end;
            }

            svg {
                margin-right: 14px;
                cursor: pointer;
                fill: rgb(126, 126, 126);
                transition: fill .3s ease-in-out;
            }

            #facebook-icon {
                @media (max-width: 1023px) {
                    fill: rgb(74, 115, 201);
                }

                &:hover {
                    fill: rgb(74, 115, 201);
                }
            }

            #instagram-icon {
                @media (max-width: 1023px) {
                    fill: #405de6;
                }

                &:hover {
                    fill: #405de6;
                }
            }

            #maps-icon {
                @media (max-width: 1023px) {
                    fill: rgb(225, 105, 91);
                }

                &:hover {
                    fill: rgb(225, 105, 91);
                }
            }

            #tikTok-icon {
                @media (max-width: 1023px) {
                    fill: #69c9d0;
                }

                &:hover {
                    fill: #69c9d0;
                }
            }
        }
    }
}