@import "./\ variables";



.menu-navbar-item {
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        sans-serif;
    transition: color .25s ease-in-out;

    &.open {
        animation: fadeIn 1s forwards;
        opacity: 0;
    }



    .item-context {
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -20%;
            width: 0;
            height: 2px;
            background-color: $pinkSecond;
            transition: width .30s ease-in-out;
        }

        &:hover::after {
            width: 100%;
        }

        &:hover {
            color: $pinkSecond;
        }

        &.active {
            color: $pinkSecond;

            &:after {
                position: absolute;
                left: 0;
                bottom: -20%;
                width: 100%;
                height: 2px;
                background-color: $pinkSecond;
                transition: width .30s ease-in-out;
            }
        }
    }
}

.hamburger {

    &.open {
        .bar {
            &:first-child {
                transform: translateY(8px) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }

    .bar {
        height: 3px;
        margin: 5px auto;
    }
}

.navbar-icons-holder {

    svg {
        fill: $navbarIconsPrimary;
    }

    #facebook-icon {
        &:hover {
            fill: $facebookIcon;
        }
    }

    #instagram-icon {
        &:hover {
            fill: $instagramIcon;
        }
    }

    #maps-icon {
        &:hover {
            fill: $mapIcon;
        }
    }

    #tikTok-icon {
        &:hover {
            fill: $tikTokIcon;
        }
    }
}


//Width for the icons 1023px
@media (max-width: 1024px) {
    #tikTok-icon {
        fill: $tikTokIcon;
    }

    #maps-icon {
        fill: $mapIcon;
    }

    #instagram-icon {
        fill: $instagramIcon;
    }

    #facebook-icon {
        fill: $facebookIcon;
    }
}

//Width 1280 
@media (max-width: 1280px) {
    .logo-holder {
        width: 75%;
    }

    .navbar-icons-holder {
        border-left: none;
        justify-content: end;
    }

    .hamburger {
        display: block;
    }

    .navbar-menu-holder {

        &.close {
            top: 10%;
            animation: closeAnimation .5s forwards ease-in;
            @include navbar-menu-holder-close-open
        }

        &.open {
            top: 100%;
            animation: dropdownAnimation .5s forwards ease-out;
            @include navbar-menu-holder-close-open
        }

        .main-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1rem;

        }
    }
}

//Animation for Navbar
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-40px);
        color: transparent;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    to {
        color: black;
        text-shadow: none;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dropdownAnimation {
    0% {
        top: 0;
    }

    100% {
        top: 10%;
    }
}

@keyframes closeAnimation {
    0% {
        top: 10%;
    }

    100% {
        top: -100%;
    }
}