@import "./\ variables";

.opinion-context {
    background: rgba(255, 0, 128, 0.142);
}

.slider-arrow-right {
    transition: all .3s ease-in-out;
    width: 45px;
    height: 45px;
    margin-bottom: 2rem;
    cursor: pointer;
    &:hover {
        background-color: rgb(255, 71, 164) !important;
        fill: rgb(255, 255, 255);
    }

    @media (max-width:564px) {
        display: none !important;
    }
}

.slider-arrow-left {
    transition: all .3s ease-in-out;
    width: 45px;
    height: 45px;
    margin-bottom: 2rem;
    cursor: pointer;
    &:hover {
        background-color: rgb(255, 71, 164) !important;
        fill: white;
    }

    @media (max-width:564px) {
        display: none !important;
    }
}


.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.x {
    div {
        display: flex;
        justify-content: center;
    }

    @media (max-width: 1445px) {
        width: 85%;
    }
}


.slick-next {
    fill: rgb(0, 0, 0);
    transition: all .3s ease-in-out;
    width: 40px;
    height: 40px;

    &:hover {
        fill: white;
    }
}


.slick-arrow {
    border-radius: 50px !important;
    width: 40px !important;
    height: 40px !important;

    @media (max-width:564px) {
        display: none !important;
    }
}

.w-90 {
    @media (max-width: 1345px) {
        width: 90%;
    }
}

.mt-30 {
    margin-top: 7rem;
}