.special-button:hover .special-button-animate {
    transform: translateX(3px);
}

.Twentytwenty-container {
    box-shadow: 1px 1px 10px 1px black;
    border-radius: 20px;
    max-height: 400px;
    

    @media (min-width: 1920px) {
        max-height: 500px;
    }
}

.Twentytwenty-container:hover .twentyTwenty-description {
    opacity: 1;
}

.twentyTwenty-description-item {
    background-color: rgba(255, 255, 255, 0.616);
}

.small-font-resp {
    @media (max-width: 768px) {
        font-size: 30px;
    }

    @media (max-width: 580px) {
        font-size: 18px;
    }
}