.motto-holder {
    margin-top: 6.5rem;

    .motto-header {
        font-family: $specialFont;
        font-size: 180px;
        letter-spacing: 10px;
        color: $pinkSecond;
    }

    .motto-description {
        
    }
}

