.priceList-img {
    height: 300px !important;

    .price-list-text {
        transform: translate(-50%, -50%);
    }
}

.priceList-container {
    background-image: url('../../src/assets/lapyTlo.webp');
    height: 500px;
}


.table-spacing tr {
    border: 1px solid black;
    border-radius: 10px;
}
