.regulamin-img {
    height: 300px;

    @media (max-width: 768px) {
        height: 200px;
    }

    .regulation-text {
        transform: translate(-50%, -50%);
    }
}

.regulations-holder {
    background-image: url("../../src/assets/Untitled-12.webp");

    .list-decimal>li::marker {
        font-weight: bold;

    }

}