.regulamin-img {
    height: 300px;

    .regulation-text {
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.regulations-holder {
    background-image: url("../../src/assets/Untitled-12.webp");
    padding-top: 20px;
    padding-bottom: 10px;
    .list-decimal>li::marker {
        font-weight: bold;

    }

}