.fancy-info-holder {
    background-image: url("https://previews.123rf.com/images/lakshmonchandra/lakshmonchandra2310/lakshmonchandra231002927/215207526-waterco-malta%C5%84ski-pies-bia%C5%82e-t%C5%82o-ilustracja-generatywna-ai.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-top: 7rem;
    height: 500px;
    margin-bottom: 10rem;

    @media (max-width: 1100px) {
        flex-direction: column;
        height: 700px;
    }

    @media (max-width: 600px) {
        flex-direction: column;
        height: 700px;

    }
    .item-services{
        width: 100%;
    }

    .info-header {
        font-family: $specialFont;
        font-size: 60px;
        color: $pinkSecond;
        letter-spacing: 2px;
    }

}