.services-container {
    background-image: url("../../src/assets/Untitled-12.webp");
    height: 500px;

    @media (max-width: 1280px) {
        height: 800px;
    }

    @media (max-width: 764px) {
        height: 650px;
    }

    .item-services {
        @media (max-width: 1280px) {
            margin-bottom: 4rem;
        }

        @media (max-width: 560px) {
            margin-bottom: 4rem;
        }

        @media (max-width: 764px) {
            font-size: 15px;
        }
    }

    .info-header {
        font-size: 55px;
        transition: all .3s ease-in-out;

        @media (max-width: 764px) {
            font-size: 40px;
        }
    }

}