.slider {
    background-color: rgba(0, 0, 0, 0.880);
    @media (min-width:1536px) {
        height: 750px;
    }

    @media (min-width:2000px) {
        height: 850px;
    }

    @media (max-width:565px) {
        height: 400px;
    }

    .img-slider {

        @media (min-width:560px) {
            @include max-min-900;
        }

        @media (min-width:1536px) {
            max-height: 750px;
            min-height: 750px;

        }

        @media (min-width:2000px) {
            max-height: 950px;
            min-height: 950px;
        }
    }

    .animate {
        animation: imgZoom 7s infinite ease-out;
    }
}

@keyframes imgZoom {
    0% {
        transform: scale(1);
    }

    20% {
        opacity: 80%;
    }

    30% {
        opacity: 100%;
    }

    97% {
        transform: scale(1.1);
        opacity: 100%;
    }

    100% {
        transform: scale(1.1);
        opacity: 20%;
    }
}