@import "./\ variables";

.summary-holder {
    background-image: url("../../src/assets/lapyTlo.webp");
    ;
}

.des-holder-elm {
    font-family: "Open Sans", Sans-serif;
    line-height: 1.7rem;
    font-weight: 400;
    color: #2a2f38dc;
}

.icon-holder {
    transition: all .4s ease-in-out;
    transform-origin: center;
    padding: .8rem;

    &:focus,
    &:hover {
        opacity: 85%;
        animation: iconHoverAnimate 1s infinite ease-in-out;
    }
}

@keyframes iconHoverAnimate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.c-black-600 {
    color: #191a1cdc;
}