@import "./navbar";
@import "./mainPage";
@import "./sliderMainPage";
@import "./philosophy";
@import "./services";
@import "./petCareSection";
@import "./summary";
@import "./opinion";
@import "./gallery";
@import "./priceList";
@import "./regulations";
@import "./contact";
@import "./gallery.Page";
@import "./dogBehaviorist";
@import "./aboutUs";
// @import "./footer";
// @import "./companyNumber.scss";

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}